{% extends 'base.html.twig' %}

{% block title %}A propos de l'AMIGO{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center">{{ textes['amigoDescTitre'] }}</h1>
            <p class="text-justify">{{ textes['amigoDesc'] }}</p>
            <h2 class="text-center">{{ textes['amigoMembresTitre'] }}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8" id="carousel-container">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% set first = true %}
                    {% for membre in membres %}
                        {% if first %}
                            <div class="carousel-item active">
                            {% set first = false %}
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}
                            <img src="{{ asset( membre.photo ) }}" class="d-block rounded-circle mx-auto" alt="Profile 1">
                            <div class="info">
                                <h3>{{ membre.prenom}} {{ membre.nom}}</h3>
                                <p class="paragraphe">{{ membre.description}}</p>
                                <p><a href="mailto:{{ membre.mail }}">{{ membre.mail }}</a></p>
                                <!-- <p>{{ membre.niveau }}</p> -->
                            </div>
                        </div>

                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon text-dark" aria-hidden="true"><</span>
                    <span class="sr-only">Précédent</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon text-dark" aria-hidden="true">></span>
                    <span class="sr-only">Suivant</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}