{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}
    <link href="/css/evenement.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block body %}
    <h1 class="text-center">Evenements à venir</h1>
    <div class="gros-evenements">
        {% for paire in upcoming %}
                <div class="conteneur-gros-evenements">
            {% for event in paire %}
                <div class="gros-evenement">
                    <div class="moitie">
                        <img src="{{ event.affiche }}" alt="Affiche pour {{ event.nom }}">
                    </div>
                    <div class="moitie">
                        <h1>{{ event.nom}}</h1>
                        <p><span>Date de l'évènement: {{ event.dateString }}</span></p>
                        <p><span class="petit-titre">Emplacement de l'évènement:</span> <br/>{{ event.aLieuA.nom }}<br/><span class="petit-texte">{{ event.aLieuA.adresse }}</span></p>
                        {% if(event.isLien) %}
                            <a href="{{ event.lienInscription }}">Inscription</a>
                        {% endif %}
                        <br>
                        {% if event.nbEntreprises != 0 %}
                            <p><span>Entreprises participantes : </span></p>
                            <div class="tags">
                                {% for entreprise in event.entreprisesParticipantes %}
                                        <div class="tag">
                                            <span class="dot" style="background-image: url('{{ entreprise.logo }}');"></span>{{ entreprise.nom }}
                                        </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div><!-- public/css/evenement.css -->
    <h2 class="" style="color: var(--primary)">Evenements passés</h2>
    <hr class="separateur" style="width: 30%">
        {% set compteur = 0 %}
        {% for annee in past %}
        <div class="liste-passes"> <!-- ⌃ -->
            <div class="lien-div" onclick="developper({{ compteur }}, {{ annees[compteur] }})"><h2 id="fleche{{ compteur }}"><i class="fa-solid fa-angle-up">{{ annees[compteur] }}</i></h2></div>
            <div class="liste-event" id="liste{{ compteur }}">
                {% for event in annee %}
                    <div class="carte-event">
                        <img src="{{ event.affiche }}">
                        <h4><a href="{{ path("evenementDetails") }}?evenmenet={{ event.nom }}">{{ event.nom }}</a></h4>
                        <p>{{ event.dateString }}</p>
                    </div>
                {% endfor %}
            </div>
            {% set compteur = compteur + 1 %}
        </div>
        {% endfor %}
    </div>

    <script>
        let collapsed = true;
        function developper(id, annee) {
            let div2 = document.getElementById("fleche"+id);
            let div1 = document.getElementById("liste"+id);
            if(collapsed) {
                collapsed = false;
                div1.style.display = "flex";
                div2.innerHTML = '<i class="fa-solid fa-angle-down">'+annee+'</i>';
            } else {
                collapsed = true;
                div1.style.display = "none";
                div2.innerHTML = '<i class="fa-solid fa-angle-up">'+annee+'</i>';
            }
        }
    </script>
{% endblock %}