{% extends 'base.html.twig' %}

{% block title %}AMIGO{% endblock %}

{% block body %}
<script>

</script>
<div class="test">
    <div class="divbody">
        <div class="container">
            <div class="carteinfo">
                <h1>{{ textes['miageDescTitre'] }}</h1>
                <p class="textecentre">{{ textes['miageDesc'] }}</p>
                <ul class="textecentre">
                    <li>{{ textes['miageLi1'] }}</li>
                    <li>{{ textes['miageLi2'] }}</li>
                    <li>{{ textes['miageLi3'] }}</li>
                    <li>{{ textes['miageLi4'] }}</li>
                    <li>{{ textes['miageLi5'] }}</li>
                </ul>
            </div>
            <hr class="separateur">
            <h2>{{ textes['speTitre'] }}</h2>
            <div class="d-flex justify-content-between mt-3 align-self-stretch conteneur-cards">
                <div class="card">
                    <div class="card-details">
                        <p class="text-title">{{ textes['spe1Titre'] }}</p>
                        <p class="text-body"><span class="text-muted">{{ textes['spe1TitreLong'] }}</span></p>
                        <p>{{ textes['spe1Desc'] }}</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-details">
                        <p class="text-title">{{ textes['spe2Titre'] }}</p>
                        <p class="text-body"><span class="text-muted">{{ textes['spe2TitreLong'] }}</span></p>
                        <p>{{ textes['spe2Desc'] }}</p>
                    </div>
                </div>
            </div>

            <div class="carteinfo">
                <h2>{{ textes['contactTitre'] }}</h2>
                <p class="textecentre horaires">{{ textes['contactHoraires'] }}</p>
                <div class="container">
                    <!-- Horaires -->
                    <div class="row mt-4">
                        <div class="col-md-12 text-center">
                            <h4>{{ textes['contactMiageTitre'] }}</h4>
                            <p>{{ textes['contactMail'] }}<a href="{{ textes['contactMiageMail'] }}">{{ textes['contactMiageMail'] }}</a></p>
                            <p>{{ textes['contactTel'] }}+33 456 789 123</p>
                        </div>
                    </div>
                    <!-- Informations de contact pour le professeur responsable -->
                    <div class="row mt-4 d-flex justify-content-between">

                        <div class="col-md-4">
                            <h4>{{ textes['contactL3Titre'] }}</h4>
                            <p>{{ textes['contactMail'] }}<a href="{{ textes['contactL3Mail'] }}">{{ textes['contactL3Mail'] }}</a></p>
                            <p>{{ textes['contactTel'] }}{{ textes['contactL3Tel'] }}</p>
                        </div>
                        <div class="col-md-4">
                            <h4>{{ textes['contactM1Titre'] }}</h4>
                            <p>{{ textes['contactMail'] }}<a href="{{ textes['contactM1Mail'] }}">{{ textes['contactM1Mail'] }}</a></p>
                            <p>{{ textes['contactTel'] }}{{ textes['contactM1Tel'] }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
