{% extends 'base.html.twig' %}

{% block title %}OFFRES ET ALTERNANCES{% endblock %}

{% block body %}







    <div class="test">
        <div class="divbody">
            <div class="container">
                <h1 class="">Offres de stages</h1>
                <hr class="style14">



                <!-- Les boutons permettants de choisir le niveau d'étude -->
                <div class="col-md-12 text-center">
                    <div class="btn-group btn-group-toggle block-bouton" data-toggle="buttons">
                        <label class="btn btn-secondary active">
                            <a href="#?niveau=l3">L3</a>
                        </label>
                        <label class="btn btn-secondary">
                            <a href="#?niveau=m1">M1</a>
                        </label>
                        <label class="btn btn-secondary">
                            <a href="#?niveau=m2">M2</a>
                        </label>
                    </div>
                </div>





                <div class="conteneur-cartes">
                    {% for offre in offres %}
                        <div class="carte">
                            <img src=
                                 "{{ offre.parEntreprise.logo }}"
                                 class=""
                                 alt="img">
                            <h4><a href="{{ path('entreprises') }}?cible=Sopra+Steria">{{ offre.parEntreprise.nom }}</a></h4>
                            <hr/>
                            <div class="">
                                <h4 class="">
                                    {{ offre.nomPoste }}
                                </h4>

                                <p class="">
                                    {{ offre.description }}
                                </p>
                                <p class="">
                                    <small class="text-muted">
                                        {{ offre.parEntreprise.telephoneEspace }}
                                         |
                                        {{ offre.mailContact }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>















            </div>
        </div>
    </div>

{% endblock %}