{% extends 'base.html.twig' %}

{% block title %}LieuEvenement{% endblock %}

{% block body %}
    <h1>LieuEvenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ lieu_evenement.id }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ lieu_evenement.label }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ lieu_evenement.nom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ lieu_evenement.adresse }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_lieu_evenement_index') }}">back to list</a>

    <a href="{{ path('app_lieu_evenement_edit', {'id': lieu_evenement.id}) }}">edit</a>

    {{ include('lieu_evenement/_delete_form.html.twig') }}
{% endblock %}
