<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="{{ path('amigo') }}">
            <img src="{{ asset('images/assets/logoAmigo.png') }}" alt="Amigo" height="40">
            Accueil
        </a>

        <ul class="navbar-nav ms-auto navbar-expand"> <!-- ms-auto pour aligner à droite -->
            <li class="nav-item">
                <a class="nav-link" href="{{ path('miage') }}">Miage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('evenements') }}">Evènements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('entreprises') }}">Entreprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Offre d'emplois</a>
            </li>
        </ul>
    </nav>
</header>